<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GCash Savings Account Monitoring System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/darkly_bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">GCash & Savings Account Monitoring System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <br>

  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav hidden-xs">
        <div class="list-group">
          <a href="/" class="list-group-item list-group-item-action active">
            Dashboard
          </a>
          <a href="/new_bt_rec" class="list-group-item list-group-item-action">
            New Bank Transaction
          </a>
          <a href="/new_gt_rec" class="list-group-item list-group-item-action">
            New GCash Transaction
          </a>
          <a href="/viewrecs" class="list-group-item list-group-item-action">
            View Records
          </a>
          <a href="#" class="list-group-item list-group-item-action disabled">About
          </a>
        </div>
      </div>
      <br>
